<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunzy.vulfocus.mapper.ImageInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunzy.vulfocus.model.po.ImageInfo">
        <id column="image_id" property="imageId" />
        <result column="image_name" property="imageName" />
        <result column="image_vul_name" property="imageVulName" />
        <result column="image_port" property="imagePort" />
        <result column="image_desc" property="imageDesc" />
        <result column="rank" property="rank" />
        <result column="is_ok" property="ok" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="is_share" property="share" />
        <result column="degree" property="degree" />
        <result column="is_status" property="isStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        image_id, image_name, image_vul_name, image_port, image_desc, rank, is_ok, create_date, update_date, is_share, degree, is_status
    </sql>

</mapper>
