<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunzy.vulfocus.mapper.LayoutDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunzy.vulfocus.model.po.LayoutData">
        <id column="layout_user_id" property="layoutUserId" />
        <result column="create_user_id" property="createUserId" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="layout_id_id" property="layoutIdId" />
        <result column="file_path" property="filePath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        layout_user_id, create_user_id, status, create_date, update_date, layout_id_id, file_path
    </sql>

</mapper>
