<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunzy.vulfocus.mapper.LayoutServiceNetworkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunzy.vulfocus.model.po.LayoutServiceNetwork">
        <id column="layout_service_network_id" property="layoutServiceNetworkId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="network_id_id" property="networkIdId" />
        <result column="service_id_id" property="serviceIdId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        layout_service_network_id, create_date, update_date, network_id_id, service_id_id
    </sql>

</mapper>
