<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunzy.vulfocus.mapper.TimeRankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunzy.vulfocus.model.po.TimeRank">
        <id column="rank_id" property="rankId" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="rank" property="rank" />
        <result column="time_temp_id" property="timeTempId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rank_id, user_id, user_name, rank, time_temp_id
    </sql>

</mapper>
