<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunzy.vulfocus.mapper.TimeMoudelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunzy.vulfocus.model.po.TimeMoudel">
        <id column="time_id" property="timeId" />
        <result column="user_id" property="userId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="temp_time_id_id" property="tempTimeIdId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        time_id, user_id, start_time, end_time, status, temp_time_id_id
    </sql>

</mapper>
